<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>{{ title }} - Text Blog</title>
        <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
        <style>
            body {
                margin: 10px 10px 10px 10px;
            }
        </style>
        <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    </head>
    <body>
        <div>Email: 
            <a href='/index'>Home</a>
            {% if current_user.is_authenticated %}
                <a href='/logout'>Logout</a>
            {% else %}
                <a href='/login'>Login</a>
            {% endif %}
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>