{% extends 'base.html' %}
{% block content %}
<form action="" method="post" novalidate>
    {{ ckeditor.load(pkg_type="full-all") }}
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.name != 'csrf_token' %}
            {% if field.name == 'submit' %}
            
                <p>
                    {{ field }}
                </p>
            {% else %}
                <p>
                    {{ field.label}}<br>
                    {{ field(size=32) }}
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
</form>
{% endblock %}